{
    "printWidth": 180,
    "tabWidth": 2,
    "useTabs": false,
    "semi": false,
    "vueIndentScriptAndStyle": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "arrowParens": "always",
    "requirePragma": false,
    "insertPragma": false
}