.ant-input-affix-wrapper {
    font-size: 1.125rem !important;
    line-height: 1.375rem !important;
    height: 3.875rem !important;
}

.ant-input {
    font-size: 1.125rem !important;
    line-height: 1.375rem !important;
}

.ant-select-selection-item {
    font-weight: bold !important;
}

.ant-btn-lg.btn-settings {
    height: 6.125rem;
}